<h1 class="h-tt">New Club</h1>

<%= render 'form' %>

<%= link_to 'Back', clubs_path, {:style => "margin-left: 15px; font-weight: bold; 
                                            text-decoration: underline; color: #1565C0"} %>
