

<div class="div-co row" style="border: 1px solid #ddd;">
    <% @user.clubs.where(:club_members => {is_moderator: false}).each do |club| %>
      <div class="col-md-4">
            <div class="" style="height: 120px;overflow: hidden;">
              <%= link_to club_path(club.id), :rel => "lightbox", class: "has-tooltip", :data => {:toggle=>"tooltip", :placement=>"auto"}, title: club_info(club) do %>
                <%= image_tag(club.club_avatar, class: "img-responsive avatar") %>
              <% end %>
            </div>
            <div class="caption"><%= club.name %></div>
      </div>
  <% end %>
</div>