<footer class="row simple">
  <div class="constrain">
    <div class="row"><strong> Foods and Drink Reviews</strong></div>
    <div class="legal">
        <p class="copyright">
        Copyright 2016 <a href="#">Houseki</a>.
        <span class="sponsor-line">
        <a href="">Owned by Aozora</a> | K57
        </span>
    
        </p>
    </div>
  </div>
</footer>